<% layout("./layout/boilerplate.ejs") %>
<%- include("../includes/flashMsg.ejs") %>
<!-- <h2>Wanderlust Listings</h2> -->

<div class="filters d-md-flex">
  <div class="filter-categories pb-md-0 pb-4">
    <div class="filter-category">
      <i class="fa-solid fa-house-chimney"></i>
      <span>Farmhouse</span>
    </div>
    <div class="filter-category">
      <i class="fa-solid fa-couch"></i>
      <span>Rooms</span>
    </div>
    <div class="filter-category">
      <i class="fa-solid fa-panorama"></i>
      <span>Amazing views</span>
    </div>
    <div class="filter-category">
      <i class="fa-solid fa-city"></i>
      <span>Iconic cities</span>
    </div>
    <div class="filter-category">
      <i class="fa-solid fa-person-swimming"></i>
      <span>Surfing</span>
    </div>
    <div class="filter-category">
      <i class="fa-solid fa-umbrella-beach"></i>
      <span>Beach</span>
    </div>
    <div class="filter-category">
      <i class="fa-solid fa-house-chimney-user"></i>
      <span>Cabin</span>
    </div>
    <div class="filter-category">
      <i class="fa-solid fa-house-flood-water"></i>
      <span>Lakefront</span>
    </div>
    <div class="filter-category">
      <i class="fa-solid fa-fire"></i>      
      <span>Trending</span>
    </div>
    <div class="filter-category">
      <i class="fa-solid fa-tree-city"></i>
      <span>Treehouse</span>
    </div>
    <div class="filter-category">
      <i class="fa-brands fa-fort-awesome"></i>
      <span>Historical homes</span>
    </div>
  </div>

  <div class="remove-filter"> Remove Filter</div>

  <div class="taxes-switch">
    <div class="form-check form-switch form-check-reverse">
    <input class="form-check-input" type="checkbox" id="switchCheckReverse">
    <label class="form-check-label" for="switchCheckReverse">Display total before taxes</label>
  </div>
  </div>
</div>

<div class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 all-listings">
  <% for(listing of allListing) { %>
    <div class="col p-2">
      <div class="card mb-4 p-0 card-img">
        <a href="listings/<%= listing._id %>" class="d-flex flex-column gap-2">
          <img src="<%= listing.image.url %>" class="card-img-top rounded-4" alt="Card Image" style="aspect-ratio: 1/1;" loading="lazy" >
          <div class="card-img-overlay"></div>
          <div class="card-body p-0">
            <p class="card-text list-title"><%= listing.title %></p>
            <p class="card-text list-price">&#8377;<%= listing.price.toLocaleString("en-IN") %> / night </p>
          </div>
        </a>
      </div>
    </div>
  <% } %>
</div>


<script>
  let allListing = <%- JSON.stringify(allListing) %>;
  
  const categories = document.querySelectorAll(".filter-category")

  const removeBtn = document.querySelector(".remove-filter")
  
  categories.forEach((category) => {
    category.addEventListener("click", function()  {
  
      removeBtn.classList.add("active")

      const categoryValue = this.querySelector("span").innerText;
      
      const filterListings = allListing.filter((listing) => (listing.category === categoryValue ))
      
      renderFilterList(filterListings)
    })
  })

  const allListings = document.querySelector(".all-listings")

  function renderFilterList(filterLists) {
    allListings.innerHTML = '';

    if (filterLists.length == 0) {
      
      allListings.innerHTML = `
      <div class="alert alert-info m-auto w-auto mt-5" role="alert">
        No results found for this category. Please try another category.
      </div>`

    } else {

      filterLists.forEach((listing) => {
        const filterListHTML = `
          <div class="col p-2">
            <div class="card mb-4 p-0 card-img">
              <a href="listings/${listing._id}" class="d-flex flex-column gap-2">
                <img src="${listing.image.url}" class="card-img-top rounded-4" alt="Card Image" style="aspect-ratio: 1/1;" loading="lazy" >
                <div class="card-img-overlay"></div>
                <div class="card-body p-0">
                  <p class="card-text list-title">${listing.title}</p>
                  <p class="card-text list-price">&#8377;${listing.price.toLocaleString("en-IN")} / night </p>
                </div>
              </a>
            </div>
          </div>
        `

        allListings.innerHTML += filterListHTML;

      })
    } 
  }

  removeBtn.addEventListener("click", () => {
    renderFilterList(allListing)
    removeBtn.classList.remove("active")
  })

</script>