<% layout("./layout/boilerplate.ejs") %>

<!-- map libre  -->

<link
  href="https://unpkg.com/maplibre-gl@^5.24.0/dist/maplibre-gl.css"
  rel="stylesheet"
/>
<script src="https://unpkg.com/maplibre-gl@^5.24.0/dist/maplibre-gl.js"></script>

<!-- map libre  -->

<div class="row">
  <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <%- include("../includes/flashMsg.ejs") %>
    <h3 class="mb-3 fw-semibold"><%= listing.title %></h3>
    <!-- <h3 class="mb-3">Listing Details</h3> -->
    <div class="card card-img">
      <img
        src="<%= listing.image.url %>"
        alt="Listing Image"
        class="card-img-top rounded-4"
        style="height: 20rem" loading="lazy"
      />
      <div class="card-body px-0 py-1">
        <!-- <p class="card-text"><b><%= listing.title %></b></p> -->
         <p class="card-text"><i><%= listing.owner.username %></i></p>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text">
          &#8377;<%= listing.price.toLocaleString("en-IN") %>
        </p>
        <p class="card-text"><%= listing.location %></p>
        <p class="card-text"><%= listing.country %></p>

        <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
          
          <div class="d-flex gap-2 pt-3">
            <a href="<%= listing._id %>/edit" class="edit-btn">Edit</a>
            <form action="<%= listing._id %>?_method=DELETE" method="post">
              <button class="btn btn-dark">Delete</button>
            </form>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<% if (currUser) { %>
  <div class="row">
    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <hr />
  
      <h4 class="mb-3">Leave a review</h4>
  
      <form
        action="/listings/<%= listing._id %>/reviews"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <!-- <div class="mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input
          type="range"
          name="review[rating]"
          id="rating"
          class="form-range"
          min="1"
          max="5"
          />
          <div class="valid-feedback">Rating selected!</div>
          <div class="invalid-feedback">Please select a rating.</div>
        </div> -->
        <div class="">
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="valid-feedback">Rating selected!</div>
          <div class="invalid-feedback">Please select a rating.</div>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Comments</label>
          <textarea
            name="review[content]"
            id="content"
            class="form-control"
            rows="4"
            required
          ></textarea>
          <div class="valid-feedback">Thanks for your comment!</div>
          <div class="invalid-feedback">
            Please enter your comment before submitting.
          </div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
    </div>
  </div>
  
<% } %>


<% if (listing.reviews.length > 0) {  %>
  

<div class="row">
  <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <hr />

    <p class="mb-3"><b>All Reviews</b></p>

    <div class="row">
      <% for (const review of listing.reviews) { %>
        <div class="col-md-6 p-1">
      <div class="card review-card">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
            <p class="starability-result card-text mb-2" data-rating="<%= review.rating %>"><%= review.rating %></p>
          <p class="card-text"> <span class="short-text" > <%= review.content %></span> <span class=" toggleText more-text" onclick="showFunction(this)">Read more...</span></p>

          <% if (currUser) { %>
            <% if (currUser._id.equals(review.author._id)) { %>
              <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method = "POST" class="pt-2 mt-auto">
                <button class="btn btn-sm btn-dark">Delete</button>
              </form>
           <% } %>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>
    </div>
  </div>
</div>

<% }  %>

<div class="row">
  <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <hr />
    <h4 class="my-3 fw-semibold">Where you’ll be</h4>
    <p class="pb-4"><%= listing.location %>
      <!-- , <%= listing.country %> -->
    </p>
    <div id="map"></div>
  </div>
</div>

<script>
  const listing = <%- JSON.stringify(listing) %>
</script>

<script src="/JS/map.js"></script>

<script src="/JS/reviewAnimation.js"></script>